*{
    color: #00334e;
}

body, #login-container, #divider h4{
    background-image: url('extra_clean_paper.png');
    background-color: #f1e2ff;
    background-blend-mode: multiply;
}

.container {
    text-align: center;
    padding-top: 10vh;
}

i{
    color: #393e46;
}

.btn{
    color: #00334e;
    border: none;
}

.btn:hover{
    color: #00334e;
}

.btn-dark{
    background-color: #dcd0fa;
    box-shadow: 1px 1px 5px #ceb5ce, 
    -1px -1px 5px #ffffff;
}

.btn-dark:hover{
    background-color: #cfc0fa;
    box-shadow: 1px 1px 5px #b0a3d5, 
    -1px -1px 5px #eeddff;
}

.btn-outline-light{
    background-color: #f1e2ff;
}

.btn-outline-light:hover{
    background-color: #e1ccec;
}

#login-container {
    border-radius: 5%;
    box-shadow: 10px 10px 30px #cdc0d9, 
    -5px -5px 20px #ffffff;
}

.input-container {
    width: 100%;
    text-align: center;
    position: relative;
}

.input-box{
    width: 90%;
    outline: none;
    border: none;
    background-color: #f4eeff;
    box-shadow: 1px 1px 10px rgb(207, 202, 202);
    border-radius: 8px;
}

.placeholder {
    position: absolute;
    top: 1.2rem;
    left: 2.2rem;
    z-index: 200;
    transition: 0.2s ease-in;
    pointer-events: none;
}

.input-box:focus+.placeholder,
.input-box:not(:focus):valid+.placeholder{
    font-size: 0.8rem;
    top: -0.1rem;
    left: 1.8rem;
    padding: 0 5px;
    background-image: linear-gradient(transparent 52%, #f4eeff 48%);
}

#forgot-password{
    position: absolute;
    bottom: -1.5rem;
    right: 1.5rem;
    
}

#forgot-password a {
    color: #00334e ;
}

#divider{
    position: relative;
}

#divider hr{
    border-top: 2.2px solid #c9b6e4;
    height: 2.2px;
}

#divider h4{
    border-radius: 50%;
    display: inline;
    position: relative;
    top: -25px;
    box-shadow: 1px 1px 5px #ceb5ce, 
    -1px -1px 5px #ffffff;
}

#email-safe{
    color: grey; 
    font-size: 0.8rem; 
    position: absolute;
    bottom: -1rem;
    left: 2.5rem;
}

#email-safe i{
    color: grey;
}
